@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}

ul, ol {
  list-style-type: none;
}

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

main {
  padding: 2.5rem 2rem;
  color: #5F564D;
}

hr {
  border-top: 1px solid #E3DDD7;
  margin: 32px 0;
}

.intro {
  margin-bottom: 2rem;
}

.intro h1 {
  font-family: "Young Serif", serif;
  margin-bottom: 1.5rem;
}

.intro p {
  line-height: 1.5;
}

.preparation-time {
  background: #FFF7FB;
  padding: 1.5rem;
  color: #5F564D;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  
}

.preparation-time h2 {
  color: #7A284E;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.preparation-time span {
  font-weight: 700;
}


.preparation-time li{
  display: flex;
}



.preparation-time li::before {
  content: "";
  display: inline-block;
  height: 4px;
  background: #7A284E;
  width: 4px;
  border-radius: 50%;
  align-self: center;
  margin-right: 1.75rem;
  margin-left: 8px;
}

.preparation-time li:nth-child(-n+2) {
  margin-bottom: 0.5rem;
}

.container h2 {
  color: #854632;
  font-family: "Young Serif", serif;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}


.ingredients li::before {
  content: "";
  display: inline-block;
  height: 4px;
  background: #854632;
  min-width: 4px;
  border-radius: 50%;
  align-self: center;
  margin-right: 1.75rem;
  margin-left: 0.5rem;
}

.ingredients li {
  margin-bottom: 0.5rem;
  display: flex;
}

.instructions li {
  counter-increment: list-counter;
  margin-bottom: 8px;
  
}

.instructions ol {
  position: relative;
  line-height: 1.5;
  padding-left: 2.5rem;
}

.instructions span {
  font-weight: 700;
}

.instructions li::before {
  content: counter(list-counter) ".";    
  display: inline-block;
  font-weight: 700;
  color: #854632;
  border-radius: 50%;
  align-self: center;
  margin-right: 1.75rem;
  margin-left: 8px;
  position: absolute;
  left: 0;
}

.nutrition p {
  margin-bottom: 1.5rem;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

th {
  padding-left: 2rem;
}

.row {
  border-bottom: 1px solid #E3DDD7;
}

th {
  padding: 12px 0 12px 0;
}

td {
  font-weight: 700;
  color: #854632;
}



